@{
    ViewData["Title"] = "";
}

<div class="container">

    <div class="logo">
        <img src="~/css/kartverket-logo-1.jpg" alt="" />
    </div>
    <div class="su-header">
        <h1>Registrer bruker</h1>
    </div>

    <div>@ViewData["error"]</div>

    <form asp-action="CreateAccount" asp-controller="Home" method="post">

        <div class="su-input-box">
            <input name="name" type="text" class="su-input-field" placeholder="Fornavn" autocomplete="off" required />
        </div>
        <div class="su-input-box">
            <input name="surname" type="text" class="su-input-field" placeholder="Etternavn" autocomplete="off" required />
        </div>
        <div class="su-input-box">
            <input name="password" type="password" class="su-input-field" placeholder="Passord" autocomplete="off" required />
        </div>
        <div class="su-input-box">
            <input name="email" type="text" class="su-input-field" placeholder="E-post" autocomplete="off" required />
        </div>
        <!--<button type="submit">Sumbit</button>-->
        <button class="submit-btn" id="submit">Registrer</button>
    </form>

    <div class="su-opprettbruker">
        <p><a href="@Url.Action("index", "login")">Har du bruker? Loggin in istedenfor</a></p>
    </div>

</div>