@model List<Karverket.Models.PositionModel>

<h2>Registret korrigering</h2>

<div>
    @foreach(var position in Model)
    {
        <p><strong>Latitude</strong>@position.Latitude</p>
        <p><strong>Longitude</strong>@position.Longitude</p>
        <p><strong>Description</strong>@position.Description</p>
    }
</div>