@model List<Karverket.Models.AreaChange>
@{
    ViewData["Title"] = "Overview";
}

<!-- <h2>Innmeldinger</h2> -->
 

<div class="container mx-auto mt-14">
    <!-- <a class="text-blue-500 underline" href="/">Tilbake til innmeldinger</a> -->


    <h2 class="text-2xl font-bold">Innmelding er sent!</h2>
    <a class="text-blue-500 underline" asp-action="Inbox">Gå til inboks</a>

    <!-- <div class="mt-10 text-lg">
        
        
            <p class="font-bold">Type</p>
            <p class="mb-4">@Model[0].Type</p>

            <p class="font-bold">Dato</p>
            <p class="mb-4">@Model[0].Date.ToString("dd/MM/yyyy")</p>

            <p class="font-bold">Fylke</p>
            <p class="mb-4">@Model[0].Fylke</p>

            <p class="font-bold">Kommentar</p>
            <p>@Model[0].Description</p>      
    </div>-->
    
</div>