@{
    ViewData["Title"] = "Home Page";
}
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Kartverket</title>
    <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body>

    </body>
</html>

<div class="text-center flex flex-col items-center">
    
    <h1 class="text-4xl font-bold mt-4"></h1>
    <p class="mt-2"> 
        <a href="https://learn.microsoft.com/aspnet/core" class="text-blue-500 underline hover:text-blue-700">    
        </a>.
    </p>
</div>
