@{
    ViewData["Title"] = "Logge inn";
}
<!--Logg inn siden, første siden en bruker vil komme til-->
<div class="container">
    <div class="logo">
        <img src="~/css/kartverket-logo-1.jpg" alt="kartverket logo">
    </div>
    <div class="login-header">

        <header>

        </header>

    </div>

    <div>@ViewData["error"]</div>
    <!--Logg inn boks-->
    <form asp-action="login" method="post">
        @Html.AntiForgeryToken()
        <div class="input-box">
            <input name="email" type="text" class="input-field" placeholder="E-post" autocomplete="off" required>
        </div>
        <div class="input-box">
            <input name="password" type="password" class="input-field" placeholder="Passord" autocomplete="off" required>
        </div>
        <div class="forgot">
            <section>
                <input type="checkbox" id="check">
                <label for="check">Husk innlogging</label>
            </section>
            <section>
                <a href="#">Glemt passord</a>
            </section>
        </div>
        <div class="input-submit">
            <button class="submit-btn" id="submit">Logg inn</button>
        </div>
    </form>
    <!--registrering, videreføres til signup.cshtml-->
    <div class="sign-up-link">
        <p><a href="@Url.Action("SignUp", "Home")">Opprett ny bruker</a></p>
    </div>

<div class="text-center flex flex-col items-center">
    
    <h1 class="text-4xl font-bold mt-4"></h1>
    <p class="mt-2"> 
        <a href="https://learn.microsoft.com/aspnet/core" class="text-blue-500 underline hover:text-blue-700">    
        </a>.
    </p>
</div>
</div>