@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "_Layout";
}

@Html.Partial("_Navbar")

<link href="~/css/mainpagestyles.css" rel="stylesheet" />


<div class="innmeldingbekreftelse">
    <div>
        <p>Takk for din innmelding!</p>
        <p style="margin-bottom:40px;"> Din innmelding er nå sendt, og vil bli besvart snarest mulig.</p>

        <div class="links-innmeld-bekref">
            <a asp-action="Index" class="kart-bekref @(ViewContext.RouteData.Values["action"].ToString() == "Kart" ? "active-link" : "")">Kart</a>
            <a asp-action="Inbox" class="inbox-bekref @(ViewContext.RouteData.Values["action"].ToString() == "Inbox" ? "active-link" : "")">Inbox</a>
        <div/>

    </div>
    <div>

    </div>
</div>